<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 fw-semibold" id="exampleModalLabel">Thêm nhân viên</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post">
          <label for="name" class="form-label">Họ tên</label>
          <div class="row col-12">

            <div class="col-9">
              <input type="text" class="form-control" name="fullname" required>
            </div>

            <select class="col-3" name="gender">
              <% listGender.forEach( row=> { %>
                <option value="<%= row._id %>">
                  <%= row.name %>
                </option>
                <% }) %>
            </select>
          </div>

          <div class="mb-3" style="width: 325px;">
            <label for="price" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" required>
          </div>

          <div class="mb-3" style="width: 325px;">
            <label for="tonkho" class="form-label">Điện thoại</label>
            <input type="number" class="form-control" name="phone" required>
          </div>

          <div class="mb-3" style="width: 325px;">
            <label for="tonkho" class="form-label">Password</label>
            <input type="password" class="form-control" name="passwd" required>
          </div>

          <hr>
          <div class="col-12 text-end">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            <button type="submit" class="btn btn-primary">Thêm</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>