<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <title>Dashboard</title>
</head>

<body>
    <div class="container-fluid">
        <%- include('../inc/menu') %>
        <hr>
        <div class="col-12">
            <Img src="https://dichvuseo.com/wp-content/uploads/2021/07/chon-anh-nen-cho-website-2.png " style="height: 90%; width:100%;"></Img>
        </div>
        <hr>
        <%- include('../inc/footer') %>

    </div>




    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>