<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/sign_in.png" type="image/x-icon">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <title>Sign in</title>
    <style>
        .ctn {
            margin: 0;
            padding: 0;
            height: 760px;
            background-color: #f9fafb;
        }
    </style>
</head>

<body>
    <div class="ctn">
        <div class="container-fluid col-4  " style="padding-top: 170px;" >

            <div class="container-fluid col-12 border p-5" style="border-radius: 20px; background-color: #fff;">
                <div class="col-12">
                    <p class="col-12 fw-medium text-center" style="font-size: 23px;">Đăng nhập</p>
                </div>
                <div class="container col-10">

                    <div class="col-12 text-center">
                        <span class="col-6">
                            <%= msg %>
                        </span>
                    </div>

                    <form method="post" class="col-12">
                        <div class="mb-3">
                            <label class="form-label">Username</label>
                            <input type="text" class="form-control border-dark" name="username" required
                                style="border-radius: 10px; padding-left: 15px;">
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control border-dark" name="passwd"
                                style="border-radius: 10px; padding-left: 15px;">
                        </div>
                        <div class="col-12 text-center" style="margin-top: 20px;">
                            <button type="submit" class="btn btn-primary col-5"
                                style="border-radius: 10px;">Login</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>



    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    
</body>

</html>